
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        .container {
            display: flex;
            flex-direction: row;
            height: 100%;
        }

        .left {
            width: 260px;
            background-color: rgb(166, 117, 199);
            padding: 20px;
            box-sizing: border-box;
            overflow: auto;
        }

        .right {
            width: 260px;
            background-color: rgb(166, 117, 199);
            padding: 20px;
            box-sizing: border-box;
            overflow: auto;
        }

        .main {
            flex: 1;
            background-color: #ffffff;
            padding: 30px;
            box-sizing: border-box;
            overflow: auto;
        }

        img {
            width: 120px;
            height: 120px;
            margin: 1rem auto 2rem auto;
            display: block;
            border-radius: 35%;
        }

        .divider-white {
            height: 2px;
            background-color: #fff;
            margin: 10px 0;
        }

        .divider-black {
            height: 2px;
            background-color: #000000;
            margin: 10px 0;
            width: 180px;
        }

        .personal-info {
            color: #ffffff;
            font-size: 20px;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
        }

        .personal-info:hover {
            background-color: #2a2ddd;
        }

        .skill-item {
            background-color: #983ace;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
            border-left: 4px solid #7440af;
            border-color: rgb(151, 75, 223);
            border-style: solid;
            color: #ffffff;
            display: block;

        }

        .progress {
            width: 100%;
            height: 4px;
            background-color: #e0e0e0;
            border-radius: 2px;
            margin-top: 5px;
        }

        .percentage {
            width: 75%;
            height: 100%;
            background-color: rgb(166, 117, 199);
            border-radius: 2px;
        }

        .project-item-card {
            background-color: #f0f0f0;
            flex: 1;
            min-width: 300px;
            height: 200px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        .project-item-card:hover {
            position: relative;
            top: -10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            transform: scale(1.05);
        }
        .card-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px; /* 间距 */
            padding: 10px;
            justify-content: center; /* 居中对齐 */
        }
        span {
            background: #b27ecf;
            display: inline-block;
            margin-top: 5px;
            color: #ffffff;
            padding: 0px 10px;
            height: 40px;
            border-radius: 20px;
            box-sizing: border-box;
            line-height: 40px;
        }
