.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slide {
  height: 100vh;
  width: 100vw;
}

.color1 {
  background-color: #d13c48;
}

.color2 {
  background-color: #f7b733;
}

.color3 {
  background-color: #a812ad;
}

.color4 {
  background-color: #2316d8;
}

.slide-content {
    height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.mySwiper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.button1 {
  position: absolute;
  bottom: 70px; /* Distance from the bottom */
  left: 5%;
  z-index: 2;
  border-radius: 50%;
}

.button2 {
  position: absolute;
  top: 100px; /* Distance from the top */
  left: 5%;
  z-index: 2;
  border-radius: 50%;
}